{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div>
    <h1>Книжный интернет-магазин BookStore</h1>
    <p></p>
    <h4>Удобный сервис для поиска и заказа Ваших любимых книг</h4>
    <p>Команда студентов группы ПРО-423 поставила своей целью разработать сервис, который предоставил бы любителям
    литературы каталог с большим выбором книг, поиск среди них по жанрам, авторам, или названиям, информацию о книгах,
        а также возможность оформить заказ на покупку книги.</p>
    <h5>Разработкой занималась команда студентов, в состав которой входили:</h5>
    <p></p>
    <p>Сафиуллина Д.Р. – бизнес-архитектор, тех. лидер, разработчик, тестировщик.</p>
    <p>Рафиков Р.М. – руководитель проекта, бизнес-архитектор, специалист по требованиям, разработчик, тестировщик.</p>
    <p>Сахабудтинов Э.Р. – системный архитектор, разработчик, технический писатель.</p>
    <p>Шайдуллин А.К. – проектировщик интерфейса, разработчик.</p>
    <p>Яппаров Э.Р. – проектировщик интерфейса, разработчик.</p>
    <a>Воспользоваться результатами нашей работы Вы можете, перейдя к </a>
    <a href="{% url 'home'%}">каталогу доступных книг.</a>
    <p></p>
    <a>Ознакомиться с работой сервиса можно </a>
    <a href="{% url 'cond'%}">здесь.</a>
</div>
{% endblock %}
