{% extends 'main/base.html' %}

{% block title %}
Оформление заказа
{% endblock %}

{% block content %}
<div class="container">
    <div class="bp-item push-right text-on-page">
        <h4>{{ book.author }}</h4>
        <h1>"{{ book.title }}"</h1>
    </div>
    <img align="middle" class="bp-item pic-on-page" src="/static/main/img/{{book.book_id}}.jpg" height="200">
    <p></p>
    <form method="post">
        {% csrf_token %}
        <input class="form-control me-2" type="text" placeholder="Адрес доставки" aria-label="search" name="address">
        <p>Cтрана, регион, город, улица, дом/строение, квартира/офис (ОБЯЗАТЕЛЬНО)*</p>
        <input class="form-control me-2" type="text" placeholder="Другое" aria-label="search" name="hints">
        <p>Укажите детали, которые помогут доставить заказ в нужное место (необязятельно)</p>
        <input class="form-control me-2" type="text" placeholder="Телефон" aria-label="search" name="phone">
        <p>Контактный номер телефона заказчика (ОБЯЗАТЕЛЬНО)*</p>
        <h4>{{ book.price }}$</h4>
        <!--
        <input type="checkbox" name="agree" id="agree">
        <label for="agree">Я ознакомлен и согласен с </label>
        <a href="{% url 'cond' %}">условиями</a>
        <a> (ОБЯЗАТЕЛЬНО)*</a>
        <p></p>
        -->
        <button class="btn btn-outline-success ex" type="submit" formaction="{%url 'success'%}">Подтвердить</button>
    </form>
</div>
{% endblock %}
