{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<h1>Главная</h1>
<table class="lower-table my-table">
    <colgroup>
        <col width="300px">
        <col width="300px">
        <col width="300px">
    </colgroup>
    <tbody>
    {% for s in books %}
    <tr>
        {% for row in s %}
        <td class="table-cell">
            <a href="book/{{row.id}}">
                <img src="{{row.img}}" height="200">
                <!--
                <img src="/static/main/img/{{row.id}}.png" height="200">
                -->
            </a>
            <h3>{{row.title}}</h3>
            <p>{{row.genres}}</p>
            <p>{{row.price}}$</p>
            <p>{{row.description}}</p>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
